
body {
    background-color: #000;
}
.conteiner {
    max-width: 1470px;
    margin: auto;
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 130px;
}

.call-back {
    border: 1px solid rgba(228, 181, 100, 1);
    display: flex;
    align-items: center;
}

.phone-icon {
    padding-left: 25px;
}

.phone-link {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #E4B564;
    padding: 10px 25px 10px 10px;
}

.title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
}

.title-text {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Gilam';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    width: 1182px;
    height: 56px;
}

.work-item {
    margin: 0;
    display: grid;
    padding-left: 0;
    /* grid-template-columns: repeat(3, 467px) repeat(2, 715px); */
    grid-template-rows: repeat(2, 468px);  
    grid-template-columns:repeat(6, 1fr);
    gap: 30px;
    grid-template-areas: 
    "list1 list1 list2 list2 list3 list3"
    "list4 list4 list4 list5 list5  list5";
}


.work-item-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.work-item-list1 {
    background: #634F2C;
    grid-area: list1;
}

.work-item-list2 {
    background: #B4A385;
    grid-area: list2;
}
.work-item-list3 {
    background: #E4B564;
    grid-area: list3;
}
.work-item-list4 {
    background: #635A4A;
    grid-area: list4;
}
.work-item-list5 {
    background: #B08C4D;
    grid-area: list5;
}


.work-item-link {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.technics {
    margin-top: 160px;
    margin-bottom: 210px;
}

.technics-item {
    height: 900px;
    display: grid;
    padding-left: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 30px;
    margin-top: 95px;
    margin-bottom: 190px;
}
.technics-item-link {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.technics-item-list{
    padding: 45px 0 0 50px;
}

.technics-item-list1 {
    background: #0E0E0E;
    grid-row-start: 1;
    grid-row-end: 4;
}
.technics-item-list2{
    background: #242424;
    grid-row-start: 4;
    grid-row-end: 9;
}
.technics-item-list3{
    background: #1F1F1F;
    grid-row-start: 1;
    grid-row-end: 5;
    
}
.technics-item-list4{
    background: #E4B564;
    grid-row-start: 5;
    grid-row-end: 9;
}

.technics-item-list5{
    background: #1F1F1F;
    grid-row-start: 1;
    grid-row-end: 4;
}
.technics-item-list6{
    background: #0E0E0E;
    grid-row-start: 7;
    grid-row-end: 9;
}
.technics-item-list7{
    background: #0A0909;
    grid-row-start: 4;
    grid-row-end: 7;

}

.technics-item-link1 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.technics-item-link {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}



.head-costumers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.all-projects {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 40px;
}

.customers-item {
    display: grid;
    padding-left: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 468px);
    margin-top: 70px;
    padding-bottom: 240px;
}


.customers-item-list1{
    background: #634F2C;
}

.customers-item-list2{
    background: rgba(232, 210, 171, 0.76);
}

.customers-item-list3{
    background: #E4B564;
}

.customers-item-list4{
    background: #635A4A;
}

.customers-item-list5{
    background: #B08C4D;
}

.customers-item-list6{
    background: #634F2C;
}

.customers-item-link{
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customers-item-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.customers-item-link>p {
    margin-top: 15px;
}

